.vs/Service/DesignTimeBuild/.dtbcache
.vs/Service/v15/.suo
.vs/Service/v15/Server/sqlite3/db.lock
.vs/Service/v15/Server/sqlite3/storage.ide
.vs/Service/v15/Server/sqlite3/storage.ide-shm
.vs/Service/v15/Server/sqlite3/storage.ide-wal
CME.Application/obj/CME.Application.csproj.nuget.cache
CME.Application/obj/CME.Application.csproj.nuget.g.props
CME.Application/obj/CME.Application.csproj.nuget.g.targets
CME.Application/obj/project.assets.json
CME.Application/obj/Debug/netcoreapp2.2/CME.Application.AssemblyInfo.cs
CME.Application/obj/Debug/netcoreapp2.2/CME.Application.AssemblyInfoInputs.cache
CME.Application/obj/Debug/netcoreapp2.2/CME.Application.assets.cache
CME.Application/obj/Debug/netcoreapp2.2/CME.Application.csproj.CoreCompileInputs.cache
CME.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CME.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CME.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CME.Core/obj/CME.Core.csproj.nuget.cache
CME.Core/obj/CME.Core.csproj.nuget.g.props
CME.Core/obj/CME.Core.csproj.nuget.g.targets
CME.Core/obj/project.assets.json
CME.Core/obj/Debug/netcoreapp2.2/CME.Core.AssemblyInfo.cs
CME.Core/obj/Debug/netcoreapp2.2/CME.Core.AssemblyInfoInputs.cache
CME.Core/obj/Debug/netcoreapp2.2/CME.Core.assets.cache
CME.Core/obj/Debug/netcoreapp2.2/CME.Core.csproj.CoreCompileInputs.cache
CME.Core/obj/Debug/netcoreapp2.2/CME.Core.csprojAssemblyReference.cache
CME.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CME.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CME.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CME.EntityFramework/obj/CME.EntityFramework.csproj.nuget.cache
CME.EntityFramework/obj/CME.EntityFramework.csproj.nuget.g.props
CME.EntityFramework/obj/CME.EntityFramework.csproj.nuget.g.targets
CME.EntityFramework/obj/project.assets.json
CME.EntityFramework/obj/Debug/netcoreapp2.2/CME.EntityFramework.AssemblyInfo.cs
CME.EntityFramework/obj/Debug/netcoreapp2.2/CME.EntityFramework.AssemblyInfoInputs.cache
CME.EntityFramework/obj/Debug/netcoreapp2.2/CME.EntityFramework.assets.cache
CME.EntityFramework/obj/Debug/netcoreapp2.2/CME.EntityFramework.csproj.CoreCompileInputs.cache
CME.EntityFramework/obj/Debug/netcoreapp2.2/CME.EntityFramework.csprojAssemblyReference.cache
CME.EntityFramework/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CME.EntityFramework/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CME.EntityFramework/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CME.module/obj/CME.module.csproj.nuget.cache
CME.module/obj/CME.module.csproj.nuget.g.props
CME.module/obj/CME.module.csproj.nuget.g.targets
CME.module/obj/project.assets.json
CME.module/obj/Debug/netcoreapp2.2/CME.module.AssemblyInfo.cs
CME.module/obj/Debug/netcoreapp2.2/CME.module.AssemblyInfoInputs.cache
CME.module/obj/Debug/netcoreapp2.2/CME.module.assets.cache
CME.module/obj/Debug/netcoreapp2.2/CME.module.csproj.CoreCompileInputs.cache
CME.module/obj/Debug/netcoreapp2.2/CME.module.csprojAssemblyReference.cache
CME.module/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CME.module/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CME.module/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Service/obj/project.assets.json
Service/obj/Service.csproj.nuget.cache
Service/obj/Service.csproj.nuget.g.props
Service/obj/Service.csproj.nuget.g.targets
Service/obj/Debug/netcoreapp2.2/Service.AssemblyInfo.cs
Service/obj/Debug/netcoreapp2.2/Service.AssemblyInfoInputs.cache
Service/obj/Debug/netcoreapp2.2/Service.assets.cache
Service/obj/Debug/netcoreapp2.2/Service.csproj.CoreCompileInputs.cache
Service/obj/Debug/netcoreapp2.2/Service.csprojAssemblyReference.cache
Service/obj/Debug/netcoreapp2.2/Service.RazorAssemblyInfo.cache
Service/obj/Debug/netcoreapp2.2/Service.RazorAssemblyInfo.cs
Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Service/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
